.tag {
  background-color: #ddd;
  padding: 10px 20px;
  border-radius: 16px;
  font-size: smaller;
}

time {
  padding: 10px 20px;
  font-size: smaller;
}

address {
  display: inline;
  font-size: smaller;
}

a {
  text-decoration: none;
}

.coursVideo {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.miniature {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Ajoute un espace entre les éléments */
  justify-content: center;
}

article {
  /* width: 300px; Définit une largeur fixe pour les articles */
  min-height: 400px; /* Définit une hauteur minimale pour aligner les éléments */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header p {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  padding: 10px;
}

header img {
  height: 30px;
  margin: 0px 7px 9px;
}

.miniature {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.miniature h2 {
  text-align: center;
}
